<%- include inc/header.html %>
<div class="content">
    <%- include inc/breadLine.html %>
    <div class="ui attached segment">
        <div class="com_list ui segment">
            <div class="column">
                <% if(frameworks.length >0){
                 frameworks.forEach(function(framework){ %>
                <div class="list_one ">
                    <div class="fl operate_btn">
                        <div class=" mini ui buttons">
                            <div class="ui  button mini deleteNode"  data-href="/admin/deleteframework/<%= framework._id %>">删除</div>
                            <div class="or"></div>
                            <a class="ui instagram button mini" href="/admin/editFramework/<%= framework._id %>" target="_blank">修改</a>
                        </div>
                    </div>
                    <div class="fl">
                        <a href="/admin/frameworks/<%= framework._id %>"><%= framework.title %></a>
                    </div>
                </div>
                <% })}else{ %>
                <div class="ui error message">
                    <h2> 目前还没有列表项目 </h2>
                    <ul class="list">
                        <li>请点击添加框架文章按钮&nbsp;&nbsp;<a href="/admin/addFramework">添加地址</a></li>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include inc/footer.html %>
<script type="text/javascript">
$(function(){
    $('.deleteNode').click(function(e){
        e.preventDefault();
        var href = $(this).data('href');
        $.get(href,{},function(result){
            if(result.status){
                warn(result.message,'','','100px');
                setTimeout(function(){
                    location.reload();
                },2000)
            }else{
                warn(result.message,'','','100px');
            }
        });
    });
});
</script>
