<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>前端开发效果库</title>
    <link rel="stylesheet" href="/static/css/semantic.css" charset="utf-8">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/semantic.min.js"></script>
</head>
<body style="font-family: '微软雅黑'; background: #f5f5f5">
<div class="ui menu" style="font-family: '微软雅黑';">
    <div class="header item">前端开发代码仓库</div>
    <a class="active item">代码首页</a>
    <div class="ui dropdown item" tabindex="0">
        代码分类
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
            <div class="item">jQuery</div>
            <div class="item">Angularjs</div>
            <div class="item">backbonejs</div>
            <div class="item">underscore</div>
            <div class="item">seajs</div>
            <div class="item">webpack</div>
        </div>
    </div>
    <div class="ui dropdown item" tabindex="0">
        WEB前端开发框架
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
            <div class="item">jQuery</div>
            <div class="item">Angularjs</div>
            <div class="item">backbonejs</div>
            <div class="item">underscore</div>
            <div class="item">seajs</div>
            <div class="item">webpack</div>
        </div>
    </div>
    <div class="ui dropdown item" tabindex="0">
        文章分类
        <i class="dropdown icon"></i>
        <div class="menu transition hidden" tabindex="-1">
            <div class="item">前端开发工具</div>
            <div class="item">前端构建工具</div>
            <div class="item">前端开发动态</div>
            <div class="divider"></div>
            <div class="item">项目管理工具</div>
            <div class="divider"></div>
            <div class="item">Nodejs</div>
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="搜索名称关键字">
                <button class="ui button">搜索</button>
            </div>
        </div>
        <a class="item" href="/login">管理员入口</a>
    </div>
</div>
<br>
<br>
<div class="ui  column  grid" >
    <div class="ui special cards">
        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/citySelect'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">城市下拉选择器</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>

        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/digitalclock2'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">美丽的时钟</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>

        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/fakeloader'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">进入页面之前的加载提示</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>

        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/fselect'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">jQuery实现多条件筛选</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>


        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/mDialog'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">mDialog弹出框插件</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>


        <div class="card column">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="location.href='/project/sweetalert'">查看组件</div>
                        </div>
                    </div>
                </div>
                <img src="/bower_components/default.jpeg">
            </div>
            <div class="content">
                <a class="header">sweetalert弹出框插件</a>
                <div class="meta">
                    <span class="date">创建时间 2015-12-03</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="unhide icon"></i>
                    查看次数 2
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document)
            .ready(function() {

                $('.special.cards .image').dimmer({
                    on: 'hover'
                });
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });
                $('.ui.menu a.item')
                        .on('click', function() {
                            $(this)
                                    .addClass('active')
                                    .siblings()
                                    .removeClass('active')
                            ;
                        })
                ;
            })
    ;
</script>
